@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@font-face {
	font-family: 'Montserrat' ;
	src: url("assets/Montserrat_Font_Family_\(Fontmirror\).zip");
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

div#appContainer{
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    background-color: '#FFF';
    grid-template-rows: 70px 1fr 140px;
    grid-template-columns: 1fr;
    grid-template-areas: 
			"header"
			"content"
            "footer";
    
}